* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.battery {
    width: 40px;
    height: 100px;
    margin-left: auto;
    position: relative;
    background-color: rgb(112, 82, 82);
    margin-top: 50px;
}

.battery-point {
    width: 15px;
    height: 5px;
    background-color: rgb(112, 82, 82);
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.battery__level {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #008000;
    height: 50px;
}

.battery-text {
    margin-top: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #020202;
    text-align: right;
}

.battery-charging {
    width: 80%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-vibrate {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #351764;
    border-radius: 50%;
    padding: 10px 10px;
    margin: 2px;
}

.btn-stream {
    margin-top: 20px;
    background-color: #ff2244;
    color: #FFFFFF;
    outline: none;
    padding: 2px 10px;
}

.memory__p {
    font-size: 12px;
    margin-top: 20px;
}

#memory {
    font-weight: 700;
}